[Unit]
Description=conntrack.sh
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/conntrack.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target